include icons

//- Simple form input control without a form-group
mixin input-simple(type,id,options)
    - options = options || {};
    input.form-control(type=type, id=id,
                            placeholder=options.placeholder || false, 
                            name=options.name || false,
                            value=options.value || false,
                            required=options.required ? 'true' : false)

//- Input control with form-group wrapper
mixin input(type,id,label,options)
    fieldset.form-group
        label(for=id) #{label}
        +input-simple(type,id,options)

//- Simple form input control without a form-group
mixin textarea-simple(id,options)
    - options = options || {};
    textarea.form-control(id=id,
                            placeholder=options.placeholder || false, 
                            name=options.name || false,
                            value=options.value || false,
                            rows=options.rows || 3,
                            required=options.required ? 'true' : false)

//- Input control with form-group wrapper
mixin textarea(id,label,options)
    fieldset.form-group
        label(for=id) #{label}
        +textarea-simple(id,options)

//- Checkbox - Block style
mixin checkbox(text,name,id)
    .checkbox
        label
            input(type="checkbox",name=name,id=id)
            = text

//- Checkbox - Inline style
mixin checkbox-inline(text,name,id)
    .checkbox-inline
        input(type="checkbox",name=name,id=id)
        = text

//- Radio box
mixin radio(text,name,id)
    .radio
        label
            input(type="radio",name=name,id=id)
            = text

//- Radio box - Inline style
mixin radio-inline(text,name,id)
    .radio-inline
        input(type="radio",name=name,id=id)
        = text

//- Submit button
mixin submit(text,name,id)
    fieldset.form-group
        button.btn.btn-default(type="submit",name=name,id=id)= text

//- Input group - both prepend and append options available, and block is passed
mixin input-group(prepend,append)
    fieldset.form-group
        .input-group
            unless !prepend
                .input-group-addon
                    = prepend
                block
                unless !append
                    .input-group-addon
                        = append

//- Icon button
mixin icon-btn(icon)
    button.btn.btn-default(type="button",aria-label=icon)
        +icon(icon)

//- Badges
mixin badge(text)
    span.badge= text
