//- list-group mixins
mixin list-group(items,active)
	ul.list-group
		each item, index in items
			if(index === active)
				li.list-group-item.active #{item}
			else
				li.list-group-item #{item}

mixin list-group-links(items,active)
	.list-group
		each item, index in items
			if(index === active)
				a.list-group-item.active(href=item.url) #{item.text}
			else
				a.list-group-item(href=item.url) #{item.text}

mixin list-group-item(url,active)
	if(active === "true")
		a.list-group-item.active(href=url)
			block
	else
		a.list-group-item(href=url)
			block

mixin list-group-custom()
	.list-group
		block